# OS files
.DS_Store

# Flutter and Dart tool state
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub/

# Generated output
build/
coverage/
doc/api/

# IDE files
.idea/
*.iml

# Flutter iOS build marker
ios/Flutter/.last_build_id
